# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Environment variables
.env
.env.*
!.env.example

# Dataset
backend/data/*.csv

# Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# CatBoost training logs
backend/catboost_info/